[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "==1.16.0"
pynacl = "==1.3.0"
async-timeout = "==3.0.1"
gtts = "*"

[dev-packages]

[requires]
python_version = "3.8"
